<template>
  <div class="store-home">
    111
    <search-bar></search-bar>
  </div>
</template>

<script>
import SearchBar from '../../components/home/SearchBar'
export default {
  components: {
    SearchBar
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.store-home {
  width: 100%;
  height: 100%;
  background: white;
}
</style>
