<template>
  <div class="ebook-loading">
    <div class="ebook-loading-wrapper">
      <div class="ebook-loading-item" v-for="(item, index) in  data" :key="index">
        <div class="ebook-loading-line-wrapper" v-for="(subItem, subIndex) in item" :key="subIndex">
          <div class="ebook-loading-line" ref="line"></div>
          <div class="ebook-loading-mask" ref="mask"></div>
        </div>
      </div>
      <div class="ebook-loading-center"></div>
    </div>
  </div>
</template>

<script>
import { px2rem } from '../../utils/utils'
export default {
  data () {
    return {
      data: [
        [{}, {}, {}],
        [{}, {}, {}]
      ],
      maskWidth: [
        { value: 0 },
        { value: 0 },
        { value: 0 },
        { value: 0 },
        { value: 0 },
        { value: 0 }
      ],
      lineWidth: [
        { value: 16 },
        { value: 16 },
        { value: 16 },
        { value: 16 },
        { value: 16 },
        { value: 16 }
      ],
      add: true // direction flag
    }
  },
  mounted () {
    this.task = setInterval(() => {
      this.$refs.mask.forEach((item, index) => {
        const maskDom = this.$refs.mask[index]
        const lineDom = this.$refs.line[index]
        const maskWidth = this.maskWidth[index]
        const lineWidth = this.lineWidth[index]
        // add controlls the direction of mask and line width
        if (index === 0) {
          if (this.add && maskWidth.value < 16) {
            maskWidth.value += 1
            lineWidth.value -= 1
          } else if (!this.add && lineWidth.value < 16) {
            maskWidth.value -= 1
            lineWidth.value += 1
          }
        } else {
          // begin to change only after the previous one has changed half.
          const preMaskWidth = this.maskWidth[index - 1].value
          const preLineWidth = this.lineWidth[index - 1].value
          if (this.add && preMaskWidth >= 8 && maskWidth.value < 16) {
            maskWidth.value += 1
            lineWidth.value -= 1
          } else if (!this.add && preLineWidth >= 8 && lineWidth.value < 16) {
            maskWidth.value -= 1
            lineWidth.value += 1
          }
        }
        lineDom.style.width = `${px2rem(lineWidth.value)}rem`
        lineDom.style.flex = `0 0 ${px2rem(lineWidth.value)}rem`
        maskDom.style.width = `${px2rem(maskWidth.value)}rem`
        maskDom.style.flex = `0 0 ${px2rem(maskWidth.value)}rem`
        // end flag changed to be true only the last one reach the end.
        if (index === this.maskWidth.length - 1) {
          // once goes to the end, add direction changed and set end flag to be false again.
          if ((this.add && maskWidth.value === 16) || (!this.add && lineWidth.value === 16)) {
            this.add = !this.add
          }
        }
      })
    }, 30)
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.ebook-loading {
  position: relative;
  z-index: 400;
  width:px2rem(60);
  height: px2rem(40);
  background: transparent;
  border: px2rem(1.5) solid #d7d7d7;
  border-radius: px2rem(3);
  .ebook-loading-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    .ebook-loading-item {
      flex: auto;
      flex-direction: column;
      display:flex;
      padding: px2rem(6) 0;
      box-sizing: border-box;
      .ebook-loading-line-wrapper{
        flex:auto;
        @include left;
        padding: 0 px2rem(6);
        box-sizing: border-box;
        .ebook-loading-line{
          flex: 0 0 px2rem(16);
          width: px2rem(16);
          height: px2rem(2);
          background: #d7d7d7;
        }
        .ebook-loading-mask{
          flex: 0 0 0;
          width: 0;
          height: px2rem(2);
        }
      }
    }
  }
  .ebook-loading-center {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: px2rem(1.5);
    background: #d7d7d7;
  }
}
</style>
