<template>
  <div>
    <transition name="slide-up">
      <div class="menu-wrapper" :class="{'hide-box-shadow': !menuVisible || settingVisible >= 0}"
           v-show="menuVisible">
        <div class="icon-wrapper">
          <span class="icon-menu" @click="showSetting(3)"></span>
        </div>
        <div class="icon-wrapper">
          <span class="icon-progress" @click="showSetting(2)"></span>
        </div>
        <div class="icon-wrapper">
          <span class="icon-bright" @click="showSetting(1)"></span>
        </div>
        <div class="icon-wrapper">
          <span class="icon-A" @click="showSetting(0)"></span>
        </div>
      </div>
    </transition>
    <ebook-setting-font></ebook-setting-font>
    <ebook-setting-theme></ebook-setting-theme>
    <ebook-setting-font-popup></ebook-setting-font-popup>
    <ebook-setting-progress></ebook-setting-progress>
    <ebook-slide></ebook-slide>
  </div>
</template>

<script>
import '../../assets/styles/icon.css'
import { ebookMixin } from '../../utils/mixin'
import EbookSettingFont from './EbookSettingFont'
import EbookSettingFontPopup from './EbookSettingFontPopup'
import EbookSettingTheme from './EbookSettingTheme'
import EbookSettingProgress from './EbookSettingProgress'
import EbookSlide from './EbookSlide'
export default {
  mixins: [ebookMixin],
  components: {
    EbookSettingFont,
    EbookSettingFontPopup,
    EbookSettingTheme,
    EbookSettingProgress,
    EbookSlide
  },
  methods: {
    showSetting (key) {
      this.setSettingVisible(key)
    },
    hideSetting () {
    }
  }
}
</script>

<style lang="scss" rel='stylesheet/scss' scoped>
@import '../../assets/styles/global.scss';
.menu-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: px2rem(48);
  z-index: 200;
  background: white;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 px2rem(-8) px2rem(8) rgba($color: #000000, $alpha: 0.15);
  font-size: px2rem(20);
  .icon-wrapper {
      flex: 1;// auto
      @include center;
      .icon-progress {
        font-size: px2rem(28);
      }
      .icon-bright {
        font-size: px2rem(22);
      }
    }
}
.hide-box-shadow{
  box-shadow: none;
}
</style>
