<template>
  <transition name="slide-up">
  <div class="setting-wrapper"  v-show="menuVisible && settingVisible === 0">
      <div class="setting-font-size">
        <div class="preview" :style="{fontSize: fontSizeList[0].fontSize + 'px'}">A</div>
        <div class="select">
          <div class="select-wrapper"
              v-for="(item, index) in fontSizeList"
              :key="index"
              @click="setFontSize(item.fontSize)">
            <div class="line"></div>
            <div class="point-wrapper">
              <div class="point" v-show="defaultFontSize === item.fontSize">
                <div class="small-point">
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <div class="preview" :style="{fontSize: fontSizeList[fontSizeList.length-1].fontSize + 'px'}">A</div>
      </div>
      <div class="setting-font-family" @click="showFontFamilyPopup">
        <div class="setting-font-family-text-wrapper">
          <span class="setting-font-family-text">
            {{defaultFontFamily}}
          </span>
        </div>
        <div class="setting-font-fmaily-icon-wrapper">
          <span class="icon-forward">
          </span>
        </div>
      </div>
  </div>
  </transition>
</template>

<script>
import { ebookMixin } from '../../utils/mixin'
import { FONT_SIZE_LIST, FONT_FAMILY } from '../../utils/book'
import { saveFontSize } from '../../utils/localStorage'
export default {
  mixins: [ebookMixin],
  data () {
    return {
      fontSizeList: FONT_SIZE_LIST,
      fontFamily: FONT_FAMILY
    }
  },
  methods: {
    setFontSize (fontSize) {
      this.setDefaultFontSize(fontSize)
      this.currentBook.rendition.themes.fontSize(fontSize)
      saveFontSize(this.fileName, fontSize) // caching the fontSize
    },
    showFontFamilyPopup () {
      console.log('ok')
      this.setFontFamilyVisible(true)
    }
  }

}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.setting-wrapper{
  position: absolute;
  bottom: px2rem(48);
  left: 0;
  width: 100%;
  height: px2rem(90);
  background: white;
  z-index: 160;
  box-shadow: 0 px2rem(-8) px2rem(8) rgba($color: #000000, $alpha: 0.15);
  display:flex;
  flex-direction: column;

  .setting-font-size {
    height: 100%;
    display: flex;
    flex: 2;
    .preview {
      flex: 0 0 px2rem(40);
      @include center;
    }
    .select {
      display: flex;
      flex: 1;
      .select-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        &:first-child {
          .line {
            &:first-child {
              border-top: none
            }
          }
        }
        &:last-child {
          .line {
            &:last-child {
              border-top: none
            }
          }
        }
        .line {
          flex: 1;
          height:0;
          border-top: 1px solid #ccc;
        }
        .point-wrapper{
          flex: 0 0 0;
          width: 0;
          height: px2rem(7);
          border-left: 1px solid #ccc;
          position: relative;
          .point {
            position: absolute;
            top: px2rem(-8);
            left: px2rem(-8);
            width: px2rem(20);
            height: px2rem(20);
            border-radius: 50%;
            background: white;
            border-radius: 50%;
            border: px2rem(1) solid #ccc;
            box-shadow: 0 px2rem(4) rgba($color: #000000, $alpha: 0.15);
            @include center;
            .small-point{
              width: px2rem(5);
              height: px2rem(5);
              background: black;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .setting-font-family {
    flex: 1;
    font-size: px2rem(14);
    @include center;
    .setting-font-family-text-wrapper {
      @include center;
      //.setting-font-family-text
    }
    //.setting-font-fmaily-icon-wrapper{
    //.icon-forward
  }
}
</style>
