<template>
  <transition name="popup-slide-up">
    <div class="ebook-popup-list" v-show="fontFamilyVisible">
      <div class="ebook-popup-list-title">
        <div class="ebook-popup-title-icon" @click="hide">
          <span class="icon-down2"></span>
        </div>
        <span class="ebook-popup-title-text">Font Family</span>
      </div>
      <div class="ebook-popup-list-wrapper">
        <div class="ebook-popup-item"
             v-for="(item, index) in fontFmailyList"
             :key="index"
             @click="setFontFamily(item.font)">
          <div class="ebook-popup-item-text"
              :class="{'selected': isSelected(item)}">
              {{item.font}}
          </div>
          <div class="ebook-popup-item-check">
            <span class="icon-check" v-if="isSelected(item)"></span>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { ebookMixin } from '../../utils/mixin'
import { FONT_FAMILY } from '../../utils/book'
import { saveFontFamily } from '../../utils/localStorage'
export default {
  mixins: [ebookMixin],
  data () {
    return {
      fontFmailyList: FONT_FAMILY
    }
  },
  methods: {
    hide () {
      this.setFontFamilyVisible(false)
    },
    setFontFamily (font) {
      saveFontFamily(this.fileName, font) // save font family to localStorage
      this.setDefaultFontFamily(font)
      if (font === 'Default') {
        this.currentBook.rendition.themes.font('Times New Roman')
      } else {
        this.currentBook.rendition.themes.font(font)
      }
    },
    isSelected (item) {
      return this.defaultFontFamily === item.font
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.ebook-popup-list{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 300;
  width:100%;
  background: white;
  box-shadow: 0 px2rem(-4) px2rem(6) rgba($color: #000000, $alpha: .1);
  .ebook-popup-list-title{
    position: relative;
    padding: px2rem(15);
    box-sizing: border-box;
    border-bottom: px2rem(1) solid #b8b988;
    text-align: center;
    @include center;
    .ebook-popup-title-icon{
      position: absolute;
      left: px2rem(15);
      top: 0px;
      height: 100%;
      @include center;
      font-size: px2rem(16);
      font-weight: bold;
    }
    .ebook-popup-title-text{
      font-size:  px2rem(14);
      font-weight: bold;
    }
  }
  .ebook-popup-list-wrapper{
    .ebook-popup-item{
      display: flex;
      padding: px2rem(15);
      .ebook-popup-item-text{
        flex: 1;
        font-size: px2rem(14);
        text-align: left;
        &.selected{
          color: #346cb9;
          font-weight: bold;
        }
      }
      .ebook-popup-item-check{
        flex: 1;
        text-align: right;
        font-size: px2rem(14);
        font-weight: bold;
        color: #346cb9;
      }
    }
  }
}
</style>
