<template>
  <div class="ebook-bookmark" ref='bookmark'>
    <div class="ebook-bookmark-text-wrapper">
      <div class="ebook-bookmark-down-wrapper">
        <span class="icon-down" ref='iconDown'></span>
      </div>
      <div class="ebook-bookmark-text">
        {{text}}
      </div>
    </div>
    <div class="ebook-bookmark-icon-wrapper" :style="isFixed ? fixedStyle : {}">
      <bookmark :color="color" :width="15" :height="35"></bookmark>
    </div>
  </div>
</template>

<script>
import Bookmark from '../common/Bookmark'
import { realPx } from '../../utils/utils'
import { ebookMixin } from '../../utils/mixin'
import { getBookmark, saveBookmark } from '../../utils/localStorage'
const BLUE = '#346abc'
const WHITE = '#fff'
export default {
  mixins: [ebookMixin],
  data () {
    return {
      text: ' ', // pulldown to add bookmark
      color: WHITE,
      isFixed: false
    }
  },
  components: {
    Bookmark
  },
  computed: {
    height: function () {
      return realPx(35)
    },
    threshold: function () {
      return realPx(55)
    },
    fixedStyle: function () {
      return {
        position: 'fixed',
        top: 0,
        right: `${(window.innerWidth - this.$refs.bookmark.clientWidth)}px`
      }
    }
  },
  watch: {
    offsetY: function (v) {
      if (this.menuVisible || !this.bookAvailable) {
        return
      }
      if (v >= this.height && v < this.threshold) {
        this.beforeThreshold(v)
      } else if (v >= this.threshold) {
        this.afterThreshold(v)
      } else if (v > 0 && v < this.height) {
        this.beforeHight()
      } else if (v === 0) {
        this.restore()
      }
    },
    isBookmark: function (isBookmark) {
      if (isBookmark) {
        this.color = BLUE
      } else {
        this.color = WHITE
      }
      this.isFixed = isBookmark
    }
  },
  methods: {
    restore () {
      setTimeout(() => {
        this.$refs.bookmark.style.height = `${-this.height}px`
        this.$refs.iconDown.style.transform = ''
      }, 200)
      if (this.isFixed) {
        this.setIsBookmark(true)
        this.addBookMark()
      } else {
        this.setIsBookmark(false)
        this.removeBookMark()
      }
    },
    beforeHight () {
      if (this.isBookmark) {
        this.text = 'pulldown to delete bookmark'
        this.color = BLUE
        this.isFixed = true
      } else {
        this.text = ' pulldown to add bookmark'
        this.color = WHITE
        this.isFixed = false
      }
    },
    beforeThreshold (v) {
      this.beforeHight()
      this.$refs.bookmark.style.top = `${-v}px`
      const iconDown = this.$refs.iconDown
      if (iconDown.style.transform === 'rotate(180deg)') {
        iconDown.style.transform = ''
      }
    },
    afterThreshold (v) {
      if (this.isBookmark) {
        this.color = WHITE
        this.isFixed = false
      } else {
        this.color = BLUE
        this.isFixed = true
      }
      this.text = ' release bookmark'
      this.$refs.bookmark.style.top = `${-v}px`
      const iconDown = this.$refs.iconDown
      if (iconDown.style.transform === '') {
        iconDown.style.transform = 'rotate(180deg)'
      }
    },
    addBookMark () {
      this.bookmark = getBookmark(this.fileName)
      if (!this.bookmark) {
        this.bookmark = []
      }
      const currentLocation = this.currentBook.rendition.currentLocation()
      const cfiBase = currentLocation.start.cfi.replace(/!.*/, '')
      const cfiStart = currentLocation.start.cfi.replace(/.*!/, '').replace(/\)$/, '')
      const cfiEnd = currentLocation.end.cfi.replace(/.*!/, '').replace(/\)$/, '')
      const cfiRange = `${cfiBase}!,${cfiStart},${cfiEnd})`
      this.currentBook.getRange(cfiRange).then((range) => {
        const text = range.toString().replace(/\s\s/g, '')
        this.bookmark.push({
          cfi: currentLocation.start.cfi,
          text: text
        })
        saveBookmark(this.fileName, this.bookmark)
      })
    },
    removeBookMark () {
      this.bookmark = getBookmark(this.fileName)
      const currentLocation = this.currentBook.rendition.currentLocation()
      const cfi = currentLocation.start.cfi
      if (this.bookmark) {
        this.bookmark = this.bookmark.filter(item => item.cfi !== cfi)
        saveBookmark(this.fileName, this.bookmark)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.ebook-bookmark {
  position: absolute;
  top:px2rem(-35);
  left:0px;
  z-index: 200;
  width: 100%;
  height: px2rem(35);
  .ebook-bookmark-text-wrapper {
    position: absolute;
    right: px2rem(45);
    bottom:0;
    display: flex;
    .ebook-bookmark-down-wrapper {
      font-size: px2rem(14);
      color: white;
      transition: all 0.2s linear;
      @include center;
    }
    .ebook-bookmark-text{
      font-size: px2rem(13);
      color:white;
    }
  }
  .ebook-bookmark-icon-wrapper {
    position: absolute;
    right: 0;
    bottom:0;
    margin-right: px2rem(15);
  }
}
</style>
