<template>
  <div class="ebook-reader">
    <!-- the read div is to parse the dynamic route and render the ebook according to the
      parameters : route.params.fileName
      {{$route.params.fileName}}
    -->
    <div id="read">
    </div>
    <div class="ebook-reader-mask"
        @click="onMaskClick"
        @touchmove="move"
        @touchend="moveEnd">
    </div>
  </div>
</template>

<script>
import Epub from 'epubjs'
import { ebookMixin } from '../../utils/mixin'
import { FONT_FAMILY, THEME_LIST, flatten } from '../../utils/book'
import { getFontFamily, saveFontFamily, getFontSize, saveFontSize, getTheme, saveTheme, getLocation } from '../../utils/localStorage'
global.ePub = Epub
// const baseURL = 'http://10.0.0.53:8081/epub/'

export default {
  mixins: [ebookMixin],
  data () {
    return {
      fontFamily: FONT_FAMILY,
      themeList: THEME_LIST,
      firstOffsetY: null
    }
  },
  methods: {
    prevPage () {
      if (this.rendition) {
        this.rendition.prev().then(() => {
          this.hideTitleAndMenu()
          this.refreshLocation()
        })
      }
    },
    onMaskClick (event) {
      const offsetX = event.offsetX
      const width = window.innerWidth
      if (offsetX > 0 && offsetX < width * 0.3) {
        this.prevPage()
      } else if (offsetX > 0 && offsetX > width * 0.7) {
        this.nextPage()
      } else {
        this.toggleTitleAndMenu()
      }
    },
    move (event) {
      let offsetY = 0
      if (this.firstOffsetY) {
        offsetY = event.changedTouches[0].clientY - this.firstOffsetY
        this.setOffsetY(offsetY)
      } else {
        this.firstOffsetY = event.changedTouches[0].clientY
      }
      event.preventDefault()
      event.stopPropagation()
    },
    moveEnd (event) {
      // once your figure leave the screen clear the offSetY and firstoffSet
      this.setOffsetY(0)
      this.firstOffsetY = null
    },
    parseBook () {
      // get the cover information from the renderd book and create the url for
      // the cover and set it into vuex
      this.book.loaded.cover.then(cover => {
        this.book.archive.createUrl(cover).then(url => {
          console.log(url)
          this.setCover(url)
        })
      })
      this.book.loaded.metadata.then(metadata => {
        this.setMetadata(metadata)
      })
      this.book.loaded.navigation.then(nav => {
        console.log(nav)
        const navItems = flatten(nav.toc)
        function findAndSetLevel (item) {
          // recursion boundary
          if (!item.parent) {
            item.level = 0
            return item.level
          }
          // memorization
          if (item.level) {
            return item.level
          }
          const parentItem = navItems.filter(curItem => curItem.id === item.parent)[0]
          item.level = findAndSetLevel(parentItem) + 1
          return item.level
        }
        navItems.forEach(item => findAndSetLevel(item))
        this.setNavigation(navItems)
      })
    },
    initTheme (theme) {
      this.themeList.forEach((theme) => {
        this.book.rendition.themes.register(theme.name, theme.style)
      })
      if (!theme) {
        saveTheme(this.fileName, this.defaultTheme)
        this.book.rendition.themes.select(this.defaultTheme)
      } else {
        this.book.rendition.themes.select(theme)
        this.setDefaultTheme(theme)
      }
    },
    initFontFamily (font) {
      if (!font) {
        saveFontFamily(this.fileName, this.defaultFontFamily)
      } else {
        this.book.rendition.themes.font(font)
        this.setDefaultFontFamily(font)
      }
    },
    initFontSize (fontSize) {
      if (!fontSize) {
        saveFontSize(this.fileName, this.defaultFontSize)
      } else {
        this.book.rendition.themes.fontSize(fontSize)
        this.setDefaultFontSize(fontSize)
      }
    },
    initGesture () {
      // Swipe right to next page or swipe left to previous page
      this.rendition.on('touchstart', (event) => {
        this.touchStartX = event.changedTouches[0].clientX
        this.touchStartTime = event.timeStamp
      })
      this.rendition.on('touchend', (event) => {
        const offsetX = event.changedTouches[0].clientX - this.touchStartX
        const offsetTime = event.timeStamp - this.touchStartTime
        if (offsetTime < 500 && offsetX > 40) {
          this.prevPage()
        } else if (offsetTime < 500 && offsetX < -40) {
          this.nextPage()
        } else {
          this.toggleTitleAndMenu()
        }
        event.preventDefault()
        event.stopPropagation()
      })
    },
    initRendition () {
      this.rendition = this.book.renderTo('read', {
        height: window.innerHeight,
        width: window.innerWidth,
        method: 'default'
      })
      const location = getLocation(this.fileName)
      this.display(location, () => {
        const font = getFontFamily(this.fileName)
        const fontSize = getFontSize(this.fileName)
        const theme = getTheme(this.fileName)
        this.initFontSize(fontSize)
        this.initFontFamily(font)
        this.initTheme(theme)
        this.initGlobalStyle()
        this.refreshLocation()
      })
      // register all customized font families
      this.rendition.hooks.content.register(contents => {
        const url = `${process.env.VUE_APP_RES_URL}/fonts/`
        this.fontFamily.forEach((font) => {
          let fontStr = font.font.split(' ').join('')
          fontStr = fontStr.replace(fontStr[0], fontStr[0].toLowerCase())
          if (fontStr !== 'default') {
            console.log(`${url}${fontStr}.css`)
            contents.addStylesheet(`${url}${fontStr}.css`)
          }
        })
      })
    },
    nextPage () {
      if (this.rendition) {
        this.rendition.next().then(() => {
          this.hideTitleAndMenu()
          this.refreshLocation()
        })
      }
    },
    toggleTitleAndMenu () {
      console.log('toggle title and menu')
      if (this.menuVisible) {
        this.setSettingVisible(-1)
        this.setFontFamilyVisible(false)
      }
      // this.$store.dispatch('setMenuVisible', !this.menuVisible)
      this.setMenuVisible(!this.menuVisible)
    },
    /**
     * Render the epub format ebook accoring to the filename( from the state)
    */
    initEpub () {
      const url = process.env.VUE_APP_RES_URL + '/epub/' + this.fileName + '.epub'
      console.log(url)
      this.book = new Epub(url)
      this.setCurrentBook(this.book)
      console.log(this.book)
      this.initRendition()
      this.initGesture()
      this.parseBook()

      // pagination algorithm
      this.book.ready.then(() => {
        // 1. pagination has two factors: window Width & font size
        // paginating is to split the whole ebook dom to list of location cfi
        return this.book.locations.generate(750 * (window.innerWidth / 375) *
        getFontSize(this.fileName) / 16)
      }).then(locations => {
        // 2. init pageList for each section.
        this.navigation.forEach(nav => {
          nav.pageList = []
        })
        // 3. classify each location to one specific navigation(section)
        // if location cfi has the same section name as in nav.href
        locations.forEach(item => {
          const loc = item.match(/\[(.*)\]!/)[1]
          this.navigation.forEach(nav => {
            if (nav.href) {
              const href = nav.href.match(/^(.*)\.html$/)[1]
              if (href === loc) {
                nav.pageList.push(item)
              }
            }
          })
        })
        // 4. compute the start page number based on each section total pages
        let currentPage = 1
        this.navigation.forEach((nav, index) => {
          if (index === 0) {
            nav.page = 1
          } else {
            nav.page = currentPage
          }
          currentPage += nav.pageList.length + 1
        })
        this.setPagelist(locations)
        this.setBookAvailable(true)
        this.refreshLocation()
      })
    }
  },
  mounted () {
    const fileName = this.$route.params.fileName.split('|').join('/')
    /** this.$store.dispatch('setFileName', fileName).then(() => {
      this.initEpub()
    }) */
    this.setFileName(fileName).then(() => {
      this.initEpub()
    })
    console.log(`${process.env.VUE_APP_RES_URL}'/epub/'${fileName}.epub`)
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.ebook-reader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .ebook-reader-mask{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
  }
}
</style>
