<template>
  <div class="ebook-slide-bookmark">
    <div class="slide-bookmark-title">
      <span class="slide-bookmark-title-text">
        Bookmark Count : {{getBookMarkCount}}
      </span>
    </div>
    <scroll class="slide-bookmark-list"
        :top="48" :bottom="48">
        <div class="slide-bookmark-item"
          v-for="(item,index) in bookmarkList"
          :key="index"
          @click="displayBookmark(item.cfi)">
          <div class="slide-bookmark-item-icon">
            <span class="icon-bookmark"></span>
          </div>
          <div class="bookmark-item-text">
            {{item.text}}
          </div>
        </div>
    </scroll>
  </div>
</template>

<script>
import { ebookMixin } from '../../utils/mixin'
import { getBookmark } from '../../utils/localStorage'
import Scroll from '../common/Scroll'
export default {
  mixins: [ebookMixin],
  data () {
    return {
      bookmarkList: null
    }
  },
  computed: {
    getBookMarkCount: function () {
      return this.bookmarkList ? this.bookmarkList.length : 0
    }
  },
  components: {
    Scroll
  },
  mounted () {
    this.bookmarkList = getBookmark(this.fileName)
  },
  methods: {
    displayBookmark (cfi) {
      this.display(cfi, () => {
        this.hideTitleAndMenu()
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
.ebook-slide-bookmark {
  width: 100%;
  height:100%;
  display:flex;
  flex-direction: column;
  .slide-bookmark-title {
    width: 100%;
    flex: 0 0 px2rem(48);
    @include left;
    padding-left: px2rem(8);
    box-sizing: border-box;
    .slide-bookmark-title-text{
      font-size: px2rem(14);
      font-weight: bolder;
    }
  }
  .slide-bookmark-list{
    flex: auto;
    .slide-bookmark-item{
      width: 100%;
      height: px2rem(64);
      display: flex;
      font-size: px2rem(14);
      padding: px2rem(8) 0;
      box-sizing: border-box;
      .slide-bookmark-item-icon {
        flex: 0 0 px2rem(30);
        @include right;
        padding-right: px2rem(5);
        box-sizing: border-box;
        .icon-bookmark {
          width: px2rem(20);
          height: px2rem(20);
          border-radius: 50%;
          background: #bbb;
          font-weight: bold;
          @include center
        }
      }
      .bookmark-item-text{
        flex: auto;
        font-size: px2rem(14);
        @include ellipsis2(3);
        line-height: px2rem(16);
      }
    }
  }
}
</style>
