<template>
  <transition name="slide-down">
    <div class='title-wrapper' v-show="menuVisible">
      <div class="left">
        <span class="icon-back icon" @click="back"></span>
      </div>
      <div class="right">
        <div class="icon-wrapper icon">
          <span class="icon-shelf"></span>
        </div>
        <div class="icon-wrapper icon">
          <span class="icon-cart"></span>
        </div>
        <div class="icon-wrapper icon">
          <span class="icon-more"></span>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import '../../assets/styles/icon.css'
import { ebookMixin } from '../../utils/mixin'
export default {
  mixins: [ebookMixin],
  methods: {
    back () {
      console.log('back')
    }
  }
}
</script>

<style lang="scss" rel='stylesheet/scss' scoped>
@import '../../assets/styles/global.scss';
.title-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: px2rem(48);
  z-index: 101;
  background: white;
  display: flex;
  box-shadow: 0 px2rem(8) px2rem(8) rgba($color: #000000, $alpha: 0.15);
  font-size: 20px;
  .left {
    flex: 0 0 px2rem(60);
    margin-left: px2rem(15);
    @include left
  }
  .right {
    flex: 1; // auto
    display: flex;
    justify-content: flex-end;
    .icon-wrapper {
      flex: 0 0 px2rem(40);
      @include center;
      .icon-shelf {
        font-size: px2rem(22);
      }
      .icon-cart {
        font-size: px2rem(22);
      }
    }
  }
}
</style>
