<template>
  <div class="ebook-slide-contents">
    <div class="ebook-slide-search-wrapper">
      <div class="slide-contents-search-input-wrapper">
        <div class="slide-contents-search-icon">
          <span class="icon-search"></span>
        </div>
        <input class="slide-contents-search-input"
              type="text"
              v-model="searchText"
              placeholder="type anything to search ..."
              @click="showSearchPage()"
              @keyup.enter.exact="search()"/>
      </div>
      <div class="slide-contents-search-cancel"
           v-if="searchVisible"
           @click="hideSearchPage()">
        cancel
      </div>
    </div>

    <div class="slide-contents-book-wrapper" v-show="!searchVisible">
      <div class="slide-contents-book-img-wrapper">
        <img class="slide-contents-book-img" :src="cover">
      </div>
      <div class="slide-contents-book-info-wrapper">
        <div class="slide-contents-book-title">{{metadata.title}}</div>
        <div class="slide-contents-book-author">{{metadata.creator}}</div>
      </div>
      <div class="slide-contents-book-progress-wrapper">
        <div class="slide-contents-book-progress">
          <span class="progress">{{progress + '% '}}</span>
          <span class="progress-text">Read</span>
        </div>
        <div class="slide-contents-book-time">
          {{getReadTimeText}} minutes
        </div>
      </div>
    </div>
    <scroll class="slide-contents-list"
            :top="156"
            :bottom="48"
            v-show="!searchVisible">
      <div class="slide-contents-item"
           v-for="(item,index) in navigation"
           :key="index">
        <span class="slide-contents-item-label"
              :style="contentItemStyle(item)"
              :class="{'selected': index === section}"
              @click="displayNavigation(item.href)">
          {{item.label}}
        </span>
        <span class="slide-contents-item-page">{{item.page}}</span>
      </div>
    </scroll>

    <scroll class="slide-search-list"
            :top="66"
            :bottom="48"
            v-show="searchVisible">
      <div class="slide-search-item"
            v-for="(item,index) in searchList"
            :key="index"
            v-html="item.excerpt"
            @click="displaySearchResult(item.cfi)">
      </div>
    </scroll>
  </div>
</template>

<script>
import { ebookMixin } from '../../utils/mixin'
import { px2rem } from '../../utils/utils'
import Scroll from '../common/Scroll'
import '../../assets/styles/icon.css'
export default {
  mixins: [ebookMixin],
  components: {
    Scroll
  },
  data () {
    return {
      searchVisible: false,
      searchList: null,
      searchText: ''
    }
  },
  methods: {
    showSearchPage () {
      this.searchVisible = true
    },
    search () {
      if (this.searchText && this.searchText.length > 0) {
        console.log(this.searchText)
        this.doSearch(this.searchText).then(result => {
          this.searchList = result
          this.searchList.forEach(item => {
            // inject with html
            item.excerpt = item.excerpt.replace(this.searchText,
            `<span class="content-search-text">${this.searchText}</span>`)
          })
        })
      }
    },
    hideSearchPage () {
      this.searchVisible = false
      this.searchText = ''
      this.searchList = null
    },
    contentItemStyle (item) {
      return {
        marginLeft: `${px2rem(item.level * 15)}rem`
      }
    },
    displayNavigation (href) {
      this.display(href, () => {
        this.hideTitleAndMenu()
      })
    },
    displaySearchResult (href) {
      this.display(href, () => {
        this.hideTitleAndMenu()
        console.log(this.searchText)
        this.currentBook.rendition.annotations.highlight(href)
      })
    },
    doSearch (q) {
      return Promise.all(
        this.currentBook.spine.spineItems.map(
          section => section.load(this.currentBook.load.bind(this.currentBook))
            .then(section.find.bind(section, q))
            .finally(section.unload.bind(section)))
      ).then(results => Promise.resolve([].concat.apply([], results)))
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';
  .ebook-slide-contents {
    width: 100%;
    font-size:0px;
    .ebook-slide-search-wrapper {
      display: flex;
      width: 100%;
      height: px2rem(36);
      margin: px2rem(20) 0 px2rem(10) 0;
      padding: 0 px2rem(15);
      box-sizing: border-box;
      .slide-contents-search-input-wrapper {
        flex: 1;
        @include center;
        .slide-contents-search-icon {
          flex: 0 0 px2rem(28);
          font-size: px2rem(12);
          @include center;
        }
        .slide-contents-search-input {
          flex: auto;
          width: 100%;
          height: px2rem(32);
          font-size: px2rem(14);
          background: transparent;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
      .slide-contents-search-cancel {
        flex: 0 0 px2rem(50);
        font-size: px2rem(14);
        @include right;
      }
    }
    .slide-contents-book-wrapper {
      display:flex;
      width: 100%;
      height: px2rem(90);
      padding: px2rem(10) px2rem(15) px2rem(20) px2rem(15);
      box-sizing: border-box;
      .slide-contents-book-img-wrapper {
        flex: 0 0 px2rem(45);
        .slide-contents-book-img {
          width: px2rem(45);
          height: px2rem(60);
        }
      }
      .slide-contents-book-info-wrapper {
        flex: auto;
        padding: 0 px2rem(10);
        box-sizing: border-box;
        .slide-contents-book-title {
          width: px2rem(150);
          font-size: px2rem(14);
          @include ellipsis2(2);
        }
        .slide-contents-book-author {
          margin-top: px2rem(5);
          width: px2rem(150);
          font-size: px2rem(12);
          @include ellipsis;
        }
      }
      .slide-contents-book-progress-wrapper {
        flex: 0 0 px2rem(70);
        .slide-contents-book-progress{
          .progress {
            font-size: px2rem(14);
          }
          .progress-text {
            font-size: px2rem(12);
          }

        }
        .slide-contents-book-time {
          margin-top: px2rem(5);
          font-size: px2rem(12)
        }
      }
    }
    .slide-contents-list {
      padding: 0 px2rem(15);
      box-sizing: border-box;
      .slide-contents-item{
        padding: px2rem(20) 0;
        display: flex;
        border-bottom: 1px solid;
        .slide-contents-item-label{
          @include ellipsis;
          font-size: px2rem(14);
          flex: 1;
          line-height: px2rem(16);
        }
        .slide-contents-item-page{
          flex: 0 0 px2rem(30);
          font-size: px2rem(10);
          @include right;
        }
      }
    }
    .slide-search-list {
      width: 100%;
      padding: 0 px2rem(15);
      box-sizing: border-box;
      .slide-search-item {
        font-size: px2rem(14);
        line-height: px2rem(16);
        padding: 0 px2rem(20);
        box-sizing: border-box;
      }
    }
  }
</style>
