<template>
  <div class="search-bar">
    <div class="search-bar-title-wrapper">
      <div class="title-icon-back-wrapper">
        <span class="icon-back"></span>
      </div>
      <div class="title-text-wrapper">
        <span class="title-text">Book Store</span>
      </div>
      <div class="title-icon-shake-wrapper">
        <span class="icon-shake"></span>
      </div>
    </div>
    <div class="search-bar-input-wrapper"></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '../../assets/styles/global.scss';

</style>
