
.slide-down-enter, .slide-down-leave-to{
    transform: translate3d(0, -100%, 0);
}

.slide-up-enter, .slide-up-leave-to{
    transform: translate3d(0, px2rem(138), 0);
}

.slide-down-enter-to, .slide-down-leave, 
.slide-up-enter-to, .silde-up-leave{
  transform: translate3d(0, 0, 0);
}

.slide-down-enter-active, .slide-down-leave-active,
.slide-up-enter-active, .slide-up-enter-active{
  transition: all .3s linear;
}

.popup-slide-up-enter, .popup-slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}

.popup-slide-up-enter-to, .popup-slide-up-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}


.popup-slide-up-enter-active, .popup-slide-up-leave-active {
  transition: all .2s linear;
}

.fade-slide-right-enter, .fade-slide-right-leave-to {
  transform: translate3d(-100%,0,0);
  opacity: 0;
}

.fade-slide-right-enter-to, .fade-slide-right-leave {
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade-slide-right-enter-active, .fade-slide-right-leave-active,
.slide-right-enter-active, .slide-right-leave-active, 
.fade-enter-active, .fade-leave-active {
  transition: all .3s linear;
}

.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(-100%,0,0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}

.slide-right-enter-to, .slide-right-leave {
  transform: translate3d(0,0,0);
}